<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="app">
    <h1>My To-Do List</h1>
    <form id="todo-form" @submit.prevent="submitData">
        <input v-model="textNewNote" type="text" id="todo-input" placeholder="Add a new task..." required>
        <button type="submit" id="add-button">Add</button>
    </form>
    <ul id="todo-list">
        <li v-for="(list, i) in listNotes" :key="i" @click="isChecked(i)">
            <div class="content">
                <div 
                    class="ceklis"
                    :class="{checked: list.isChecked}"
                >
                <ion-icon 
                    name="checkmark" 
                    v-if="list.isChecked">
                </ion-icon>
            </div>
                <span 
                    class="text-note" 
                    :class="{decoration: list.isChecked}" 
                    v-if="conditionUpdate[i] == false">
                    {{list.data}}
                </span>
                <form  
                    class="form-update" 
                    id="update-form" 
                    @submit.prevent="updateItem(i, newText)"
                    v-if="conditionUpdate[i]"
                >
                <input 
                    type="text"
                    :ref="'inputUpdate-' + i" 
                    class="update-input" 
                    id="update-input" 
                    name="text" 
                    :placeholder="list.data" 
                    :key="i"
                    autofocus
                    v-model="newText"
                    @click.stop=""
                    >
            </form>
             </div>
            <span class="span-btn">
                <div class="btn-event" v-if="conditionUpdate[i] == false">
                    <ion-icon name="albums" class="update-btn" @click.stop="showUpdate(i)"></ion-icon>
                    <ion-icon name="trash" class="delete-btn" @click.stop="deleteItem(i)"></ion-icon>
                </div>
                <div class="btn-confirm-update" v-if="conditionUpdate[i]">
                    <ion-icon name="checkmark" class="checkmark-confirm" @click.stop="updateItem(i, newText)"></ion-icon>
                    <ion-icon name="close" class="cancel-update" @click.stop="showUpdate(i)"></ion-icon>
                </div>
            </span>
        </li>
    </ul>
    
    <script>
        const initialData = JSON.parse('<%-listNotes %>').reverse()
    </script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script type="module">
        
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
            createApp({
               data(){
                    return {
                        listNotes: initialData,
                        conditionUpdate: initialData.map(el => el === null),
                        textNewNote: '',
                        newText: '', 
                        // conditionCeklis: initialData.reduce((acc, curr) => {
                        //     acc[curr._id] = false
                        //     return acc
                        // }, {})
                    }
    
                },
                methods: {
                    async isChecked(i){
                        try{
                            const response = await axios.patch('https://todolist-production-e5fd.up.railway.app/ceklis', {id: this.listNotes[i]._id, condition: this.listNotes[i].isChecked},{
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                            })
                            if(response.status == 200){
                                this.listNotes[i].isChecked = response.data.condition
                            }
                        }catch(e){
                            console.error(e)
                        }
                    },



                    async submitData(){
                        try{
                            const response = await axios.post('https://todolist-production-e5fd.up.railway.app/add', {text: this.textNewNote},{
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                            })
                            
                            if(response.status == 201){
                                this.listNotes.unshift(response.data.data)
                                this.conditionUpdate.unshift(false)
                                this.textNewNote = ''
                            }else{
                                console.error('Failed Add')
                            }
                            
                        }catch(e){
                            console.error(e)
                        }

                    },


                    async deleteItem(index){
                    try{
                        const response = await fetch('https://todolist-production-e5fd.up.railway.app/${index}', {method: 'DELETE'})
                        if (response.ok){
                            this.listNotes.splice(index, 1)
                        }else {
                            console.error('Failed delete')
                        }
                    }catch(err){
                        console.error(err)
                    }
                  },
                  async updateItem(index, newData){
                    try{
                        const response = await axios.put(`https://todolist-production-e5fd.up.railway.app/update/${index}`, {text: this.newText}, {
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        })
                        if (response.status == 200){
                            this.listNotes[response.data.id].data = response.data.text
                            this.conditionUpdate[index] = !this.conditionUpdate[index]
                        }else{
                            console.log('Failed Update')
                        }
                    }catch(err){
                        console.error(err)
                    }
                  },
                  showUpdate(i){
                    this.conditionUpdate[i] = !this.conditionUpdate[i]
                    this.newText = ''
                    this.conditionUpdate.forEach((el,index,arr) => {
                        if (index !== i){
                            arr[index] = false
                        }
                      })
                    if(this.conditionUpdate[i]){
                        this.$nextTick(() => {
                            const input = this.$refs['inputUpdate-' + i][0]
                            if(input) input.focus()
                        })
                    }
                  },
                  displayNoneUpdateForm(i){
                    this.conditionUpdate[i] = false
                  },
                  ceklis(id){
                    this.conditionCeklis[id] = !this.conditionCeklis[id]
                  }
                }
            }).mount('#app')
        </script>
</body>
</html>